<html>
<head>
    {% block head %}
        <meta charset="utf-8"/>
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>{% block title %} GoVoyage {% endblock %}</title>
        {% block stylesheet %}
            <link rel="stylesheet"
                  href="{{ asset('ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/sunny/jquery-ui.css') }}">
            <link rel="stylesheet" href="{{ asset('css/owl.carousel.css') }}">
            <link rel="stylesheet" href="{{ asset('css/idangerous.swiper.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
            <link rel="stylesheet" type="text/css" href="{{ asset('css/rating.css') }}"/>
            <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Lora:400,400italic' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,600,700,800' rel='stylesheet'
                  type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=latin,cyrillic'
                  rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Lato:400,700&amp;subset=latin,latin-ext' rel='stylesheet'
                  type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&amp;subset=latin,cyrillic'
                  rel='stylesheet' type='text/css'>
        {% endblock %}
    {% endblock %}
</head>
<body class="index-page">
<!-- // authorize // -->
<div class="overlay"></div>
<div class="autorize-popup">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <br>
        <br>
        <br>
        <br>
        <div align="center">
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
        </div>
        <div class="clear"></div>
        <br>
        <br>
        <br>
        <div align="center" >

            <a class="authorize-btn" style="float: none" href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        </div>

    {% else %}
        <div class="autorize-tabs">
            <a href="#" class="autorize-tab-a current">Connection</a>
            <a href="#" class="autorize-tab-b">S'inscrire</a>
            <a href="#" class="autorize-close"></a>
            <div class="clear"></div>
        </div>
        {% block fos_user_content %}
    <section class="autorize-tab-content">
        <div class="autorize-padding">
            {{ render(controller('FOSUserBundle:Security:login')) }}
        </div>
    </section>
            <section class="autorize-tab-content">
                <div class="autorize-padding">
            {{ render(controller('FOSUserBundle:Registration:register')) }}
                </div>
            </section>
        {% endblock fos_user_content %}
    {% endif %}

</div>
<!-- \\ authorize \\-->
<header id="top">
    <div class="header-a">
        <div class="wrapper-padding">
            <div class="header-phone"><span>+216 55 863 415</span></div>
            <div class="header-account">
                <a href="#">Mon Compte</a>
            </div>
            <div class="header-social">
                <a href="#" class="social-twitter"></a>
                <a href="#" class="social-facebook"></a>
                <a href="#" class="social-vimeo"></a>
                <a href="#" class="social-pinterest"></a>
                <a href="#" class="social-instagram"></a>
            </div>
            <div class="header-lang">
                <a href="#"><img alt="" src="{{ asset('img/fr.gif') }}"/></a>
                <div class="langs-drop">
                    <div><a href="#" class="langs-item en">english</a></div>
                    <div><a href="#" class="langs-item fr">francais</a></div>
                    <div><a href="#" class="langs-item de">deutsch</a></div>
                    <div><a href="#" class="langs-item it">italiano</a></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="header-b">
        <!-- // mobile menu // -->
        <div class="mobile-menu">
            <nav>
                <ul>
                    <li><a class="has-child" href="#">HOME</a>
                        <ul>
                            {#<li><a href="index-2.html">Home style one</a></li>
                            <li><a href="index_02.html">Home style two</a></li>
                            <li><a href="index_03.html">Home style three</a></li>
                            <li><a href="index_04.html">Home style four</a></li>#}
                        </ul>
                    </li>
                    <li><a class="has-child" href="#">Hotels</a>
                        <ul>
                            <li><a {% if is_granted('ROLE_CLIENT') %} href="{{ path('chambre_index')}}" {% endif %}>chambres </a> </li>
                           {# <li><a href="hotel_simple_style.html">Hotels simple style</a></li>
                            <li><a href="hotel_detail_style.html">Hotels detail style</a></li>
                            <li><a href="hotel_detail.html">Hotel item page</a></li>
                            <li><a href="hotel_booking.html">Hotel booking page</a></li>
                            <li><a href="#">booking complete page</a></li>#}
                            <li><a href="{{ path('hotel_index') }}">Hotels standard list</a></li>
                        </ul>
                    </li>
                    <li><a class="has-child" href="#">Flights</a>
                        <ul>
                            <li><a href="{{path('ListVol')}}">ListVol</a></li>
                            {#<li><a href="flight_one_way.html">flights one way trip</a></li>
                            <li><a href="flight_alternative.html">flights alternative style</a></li>
                            <li><a href="flight_detail.html">Flights detail page</a></li>
                            <li><a href="flight_booking.html">Flights booking page</a></li>
                            <li><a href="booking_complete.html">booking complete</a></li>#}
                        </ul>
                    </li>
                    <li><a class="has-child" href="#">Tours</a>
                        <ul>
                            <li><a {% if is_granted('ROLE_CLIENT') %} href="{{ path('voyagepersonalise_index')}}" {% endif %}>Voyage personnalisé </a> </li>
                           {# <li><a href="tour_grid.html">tours grid style</a></li>
                            <li><a href="tour_simple.html">Tours simple style</a></li>
                            <li><a href="tour_detail.html">Tour detail page</a></li>
                            <li><a href="tour_booking.html">tour booking page</a></li>
                            <li><a href="booking_complete.html">booking complete</a></li>#}
                        </ul>
                    </li>
                    <li><a class="has-child" href="#">Pages</a>
                        <ul>
                            <li><a href="about_us.html">about us style one</a></li>

                            <li><a href="services.html">services</a></li>
                            <li><a href="contacts.html">contact us</a></li>
                        </ul>
                    </li>
                    <li><a class="has-child" href="#">Portfolio</a>
                        <ul>
                            <li><a href="portfolio_three_collumns.html">Portfolio three columns</a></li>
                            <li><a href="portfolio_four_collumns.html">portfolio four columns</a></li>
                            <li><a href="item_page.html">item page</a></li>
                            <li><a href="item_page_full_width.html">Item page full width style</a></li>
                        </ul>
                    </li>
                    <li><a class="has-child" href="#">Blog</a>
                        <ul>
                            <li><a href="blog_with_sidebar.html">Blog with sidebar</a></li>
                            <li><a href="blog_masonry.html">blog masonry style</a></li>
                            <li><a href="standart_blog_post.html">Blog post example</a></li>
                        </ul>
                    </li>
                    <li><a class="has-child" href="#">Features</a>
                        <ul>
                            <li><a href="typography.html">typography</a></li>
                            <li><a href="shortcodes.html">shortcodes</a></li>
                            <li><a href="interactive_elements.html">interactive elements</a></li>
                            <li><a href="cover_galleries.html">cover galleries</a></li>
                            <li><a href="columns.html">columns</a></li>
                        </ul>
                    </li>
                    <li><a href="contacts.html">CONTACS</a></li>
                </ul>
            </nav>
        </div>
        <!-- \\ mobile menu \\ -->

        <div class="wrapper-padding">
            <div class="header-right">
                <div class="hdr-srch">
                    <a href="#" class="hdr-srch-btn"></a>
                </div>
                <div class="hdr-srch-overlay">
                    <div class="hdr-srch-overlay-a">
                        <input type="text" value="" placeholder="Start typing...">
                        <a href="#" class="srch-close"></a>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="hdr-srch-devider"></div>
                <a href="#" class="menu-btn"></a>
                <nav class="header-nav">
                    <ul>
                        <li><a href="{{ path('go_voyage_visitor') }}">Home</a>
                        </li>
                        <li><a href="#">Hotels</a>
                            <ul>
                                <li><a href="{{ path('hotel_index') }}">Hotels standard list</a></li>

                            </ul>
                        </li>
                        <li><a href="{{ path('ListVol') }}">Vols</a>
                        </li>
                        <li><a href="#">Voyages</a>
                            <ul>
                                <li><a href="tour_alternative.html">Tours list style</a></li>
                                <li><a href="{{ path('voyagepersonalise_index') }}">Mes Voyages Personalisé</a></li>
                                <li><a href="tour_simple.html">Tours simple style</a></li>
                                <li><a href="tour_detail.html">Tour detail page</a></li>
                                <li><a href="tour_booking.html">tour booking page</a></li>
                                <li><a href="booking_complete.html">booking complete</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Voitures</a>
                            <ul>
                                <li><a {% if is_granted('ROLE_AGENCE_VOITURE') %} href="{{ path('go_voyage_affichevoitureforAgence')}}" {% elseif is_granted('ROLE_CLIENT') %}href="{{ path('go_voyage_affichevoitureforClient')}}"{% endif %}>Listes De Voitures </a> </li>

                                <li><a{% if is_granted('ROLE_AGENCE_VOITURE') %} href="{{path('go_voyage_ajoutvoiture')}}"{% endif %}>Ajout Voiture</a></li>
                                <li><a href="#">contact us</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Portfolio</a>
                            <ul>
                                <li><a href="portfolio_three_collumns.html">Portfolio three columns</a></li>
                                <li><a href="portfolio_four_collumns.html">portfolio four columns</a></li>
                                <li><a href="item_page.html">item page</a></li>
                                <li><a href="item_page_full_width.html">Item page full width style</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Blog</a>
                            <ul>
                                <li><a href="blog_with_sidebar.html">Blog with sidebar</a></li>
                                <li><a href="blog_masonry.html">blog masonry style</a></li>
                                <li><a href="standart_blog_post.html">Blog post example</a></li>
                            </ul>
                        </li>
                        <li><a href="">Profil</a>
                            <ul>
                                <li><a href="{{ path('users_showclient',{ 'id': 7 }) }}">Mon Profil</a></li>
                                <li><a href="{{ path('users_editclient',{ 'id': 7 }) }}">Editer mon profil</a></li>

                            </ul>
                        </li>
                        <li><a href="contacts.html">Contacts</a></li>
                    </ul>
                </nav>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</header>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% block content %}

{% endblock %}



<div></div>
<!-- /footer -->
<footer class="footer-a">
    <div class="wrapper-padding">
        <div class="section">
            <div class="footer-lbl">Get In Touch</div>
            <div class="footer-adress">Address: 58911 Lepzig Hore,<br/>85000 Vienna, Austria</div>
            <div class="footer-phones">Telephones: +1 777 55-32-21</div>
            <div class="footer-email">E-mail: contacts@miracle.com</div>
            <div class="footer-skype">Skype: angelotours</div>
        </div>
        <div class="section">
            <div class="footer-lbl">Featured deals</div>
            <div class="footer-tours">
                <!-- // -->
                <div class="footer-tour">
                    <div class="footer-tour-l"><a href="#"><img alt="" src="{{ asset('img/f-tour-01.jpg') }}"/></a>
                    </div>
                    <div class="footer-tour-r">
                        <div class="footer-tour-a">amsterdam tour</div>
                        <div class="footer-tour-b">location: netherlands</div>
                        <div class="footer-tour-c">800$</div>
                    </div>
                    <div class="clear"></div>
                </div>
                <!-- \\ -->
            </div>
        </div>
        <div class="section">
            <div class="footer-lbl">Twitter widget</div>
            <div class="twitter-wiget">
                <div id="twitter-feed"></div>
            </div>
        </div>
        <div class="section">
            <div class="footer-lbl">newsletter sign up</div>
            <div class="footer-subscribe">
                <div class="footer-subscribe-a">
                    <input type="text" placeholder="you email" value=""/>
                </div>
            </div>
            <button class="footer-subscribe-btn">Sign up</button>
        </div>
    </div>
    <div class="clear"></div>
</footer>

<footer class="footer-b">
    <div class="wrapper-padding">
        <div class="footer-left">© Copyright 2017 by WAGON_Dev.</div>
        <div class="footer-social">
            <a href="#" class="footer-twitter"></a>
            <a href="#" class="footer-facebook"></a>
            <a href="#" class="footer-vimeo"></a>
            <a href="#" class="footer-pinterest"></a>
            <a href="#" class="footer-instagram"></a>
        </div>
        <div class="clear"></div>
    </div>

</footer>
<!-- /footer -->

<!-- // scripts // -->
<script src="{{ asset('js/jquery.1.7.1.js') }}"></script>
<script src="{{ asset('js/idangerous.swiper.js') }}"></script>
<script src="{{ asset('js/slideInit.js') }}"></script>
<script src="{{ asset('js/jqeury.appear.js') }}"></script>
<script src="{{ asset('js/script.js') }}"></script>
<script src="{{ asset('js/owl.carousel.min.js') }}"></script>
<script src="{{ asset('js/custom.select.js') }}"></script>
<script src="{{ asset('ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/twitterfeed.js') }}"></script>


<script>
    $(document).ready(function () {
        $('.date-inpt').datepicker();
        $('.custom-select').customSelect();
        $(function () {
            $(document.body).on('appear', '.fly-in', function (e, $affected) {
                $(this).addClass("appeared");
            });
            $('.fly-in').appear({force_process: true});
        });

        $(".owl-slider").owlCarousel({
            loop: true,
            margin: 28,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: true
                },
                620: {
                    items: 2,
                    nav: true
                },
                900: {
                    items: 3,
                    nav: false
                },
                1120: {
                    items: 4,
                    nav: true,
                    loop: false
                }
            }
        });
        $slideHover();
    });
</script>
<!-- \\ scripts \\ -->

</body>
</html>