{% extends 'GoVoyageBundle::layout_template.html.twig' %}
{% block content %}
    <div class="main-cont">
        <div class="body-wrapper">
            <div class="wrapper-padding">
                <div class="page-head">
                    <div class="page-title"><span>Creation d'un </span>Voyage Personalisé</div>

                    <div class="clear"></div>
                </div>

                <div class="sp-page">
                    <div class="sp-page-a">
                        <div class="sp-page-l">
                            <div class="sp-page-lb">
                                <form method="POST">
                                    <div class="sp-page-p">
                                        <div class="booking-left">
                                            <h2>Voyage Personalisé :</h2>
                                            <div class="booking-form">
                                                <div class="booking-form-i">
                                                    <label>Intitulé du Voyage:</label>
                                                    <div class="input"><input name="nomvoyage" type="text" value=""/>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                                <div class="srch-tab-line">
                                                    <div class="srch-tab-left">
                                                        <label>Ville Depart</label>
                                                        <div class="input-a"><input name="villed" type="text" value="">
                                                        </div>
                                                    </div>
                                                    <div class="srch-tab-right">
                                                        <label>Ville d'arrivée</label>
                                                        <div class="input-a"><input name="villea" type="text" value="">
                                                        </div>
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                                <div class="srch-tab-line">
                                                    <div class="srch-tab-left">
                                                        <label>Date Depart</label>
                                                        <div class="input-a"><input name="dated" type="text" value="" class="date-inpt" placeholder="mm/dd/yy"> <span class="date-icon"></span></div>
                                                    </div>
                                                    <div class="srch-tab-right">
                                                        <label>Date d'arrivée</label>
                                                        <div class="input-a"><input name="datea" type="text" value="" class="date-inpt" placeholder="mm/dd/yy"> <span class="date-icon"></span></div>
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                                <div class="clear"></div>
                                                <div class="booking-form-i">
                                                    <label>Nombre de Participent :</label>
                                                    <div class="input"><input name="nbrpar" type="text" value=""/></div>
                                                    <div class="clear"></div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="clear"></div>
                                            <div class="srch-tab-line">
                                                <div class="srch-tab-left">
                                                    <label>Hotel associé</label>
                                                    <div class="select-wrapper">
                                                        <select class="custom-select" name="hotelfk" >
                                                            {% for v in user %}
                                                                {% if v.get_the_role == "ROLE_HOTEL" %}
                                                                <option value="{{ v.Id }}">
                                                                    {{ v.Nom }}
                                                                </option>
                                                            {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="srch-tab-right">
                                                    <label>Evenement associé</label>
                                                    <div class="select-wrapper">
                                                        <select class="custom-select" name="eventfk">
                                                            {% for v in event %}
                                                                <option value="{{ v.IdEvenement }}">
                                                                    {{ v.Activite }}
                                                                </option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>

                                            </div>
                                            <div class="booking-devider no-margin"></div>
                                            <div class="booking-complete">
                                                <input class="booking-complete-btn" type="submit" value="AJOUTER">
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <a href="{{ path('voyagepersonalise_pdf') }}" class="srch-btn">voir un example de voyage</a>
                <div class="clear"></div>
            </div>

        </div>
    </div>
    </div>


{% endblock %}
