{% extends 'base.html.twig' %}

{% block body %}
    <h1>Voyagepersonalises list</h1>

    <table>
        <thead>
            <tr>
                <th>Idvp</th>
                <th>Nom</th>
                <th>Villedepart</th>
                <th>Villearrive</th>
                <th>Datedepart</th>
                <th>Datearrive</th>
                <th>Nbrparticipant</th>
                <th>Hotelfk</th>
                <th>Clientvpfk</th>
                <th>Event1fk</th>
                <th>Idguidefk</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for voyagepersonalise in voyagepersonalises %}
            <tr>
                <td><a href="{{ path('voyagepersonalise_show', { 'id': voyagepersonalise.idVp }) }}">{{ voyagepersonalise.idVp }}</a></td>
                <td>{{ voyagepersonalise.nom }}</td>
                <td>{{ voyagepersonalise.villeDepart }}</td>
                <td>{{ voyagepersonalise.villeArrive }}</td>
                <td>{% if voyagepersonalise.dateDepart %}{{ voyagepersonalise.dateDepart|date('Y-m-d') }}{% endif %}</td>
                <td>{% if voyagepersonalise.dateArrive %}{{ voyagepersonalise.dateArrive|date('Y-m-d') }}{% endif %}</td>
                <td>{{ voyagepersonalise.nbrParticipant }}</td>
                <td>{{ voyagepersonalise.hotelFk }}</td>
                <td>{{ voyagepersonalise.clientVpFk }}</td>
                <td>{{ voyagepersonalise.event1Fk }}</td>
                <td>{{ voyagepersonalise.idGuideFk }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('voyagepersonalise_show', { 'id': voyagepersonalise.idVp }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('voyagepersonalise_edit', { 'id': voyagepersonalise.idVp }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('voyagepersonalise_new') }}">Create a new voyagepersonalise</a>
        </li>
    </ul>
{% endblock %}
