{% extends 'GoVoyageBundle::layout_template.html.twig' %}
{% block content %}
    <div class="main-cont">
        <div class="body-wrapper">
            <div class="wrapper-padding">
                <div class="page-head">
                    <div class="page-title">Nos Vols :</div>
                    <div class="clear"></div>
                </div>
                <div class="two-colls">
                    <div class="two-colls-left">
                        <div class="srch-results-lbl fly-in">
                            <span>Chercher un Vol par :</span>
                            <br>
                            Nom
                            <form action="{{ path('ListVol') }}" method="get">
                                <div class="input-a">
                                    <input name="filter_nom" type="text">
                                </div>
                                <button type="submit" class="srch-btn">Chercher</button>
                            </form>
                        </div>
                    </div>
                    <div class="two-colls-right">
                        <div class="two-colls-right-b">
                            <div class="padding">

                                <div class="catalog-head fly-in">
                                    <label style="color: darkorange">Afficher les resultats de recherche triées par:</label>
                                    {% if x %}
                                    <label>{{ knp_pagination_sortable(vols,'Nom du vol','nomVol') }}</label>
                                    <label>{{ knp_pagination_sortable(vols,'Prix','prixVol') }}</label>
                                    <label>{{ knp_pagination_sortable(vols,'Date Départ','dateDepart') }}</label>
                                    <label>{{ knp_pagination_sortable(vols,'Date Arrivée','dateArrivee') }}</label>
                                    {% else %}
                                        <label>{{ knp_pagination_sortable(vols,'Nom du vol','bp.nomVol') }}</label>
                                        <label>{{ knp_pagination_sortable(vols,'Prix','bp.prixVol') }}</label>
                                        <label>{{ knp_pagination_sortable(vols,'Date Départ','bp.dateDepart') }}</label>
                                        <label>{{ knp_pagination_sortable(vols,'Date Arrivée','bp.dateArrivee') }}</label>
                                    {% endif %}
                                    <div class="clear"></div>
                                </div>

                                <div class="catalog-row">
                                    {% for v in vols %}
                                        {% if v.clientVolFk == null %}
                                            <!-- // flight-item // -->
                                            <div class="flight-item fly-in">
                                                <div class="flt-i-a">
                                                    <div class="flt-i-b">
                                                        <div class="flt-i-bb">
                                                            <div class="flt-l-a">
                                                                <div class="flt-l-b">
                                                                    <div class="way-lbl">Nom du Vol :</div>
                                                                    <div class="company"><img alt="" src="{{ asset('img/flyght-01.png') }}"></div>
                                                                </div>
                                                                <div class="flt-l-c">
                                                                    <div class="flt-l-cb">
                                                                        <div class="flt-l-c-padding">
                                                                            <div class="flyght-info-head">{{ v.nomVol }}</div>
                                                                            <!-- // -->
                                                                            <div class="flight-line">

                                                                                <div class="flight-line-a">
                                                                                    <b>depart</b>
                                                                                    <span>{{ v.depart }}</span>
                                                                                </div>
                                                                                <div class="flight-line-d"></div>
                                                                                <div class="flight-line-a">
                                                                                    <b>arrivée</b>
                                                                                    <span>{{ v.arrivee }}</span>
                                                                                </div>
                                                                                <div class="flight-line-d"></div>

                                                                                <div class="flight-line-b">
                                                                                    <b>details</b>
                                                                                </div>
                                                                                <div class="clear"></div>
                                                                                <!-- // details // -->
                                                                                <div class="flight-details">
                                                                                    <div class="flight-details-l">
                                                                                        <div class="flight-details-a">Nom du Compagnie :</div>
                                                                                        <div class="flight-details-a">{{ v.dateDepart | date("d/m/y") }}</div>
                                                                                        <div class="flight-details-c">{{ v.depart }}</div>
                                                                                    </div>
                                                                                    <div class="flight-details-r">
                                                                                        <div class="flight-details-c">{{ v.nomCompagnie }}</div>
                                                                                        <div class="flight-details-a">{{ v.dateArrivee | date("d/m/y") }}</div>
                                                                                        <div class="flight-details-c">{{ v.arrivee }}</div>
                                                                                    </div>
                                                                                    <div class="clear"></div>
                                                                                </div>
                                                                                <!-- \\ details \\ -->
                                                                            </div>
                                                                            <!-- \\ -->
                                                                        </div>
                                                                    </div>
                                                                    <br class="clear" />
                                                                </div>
                                                            </div>
                                                            <div class="clear"></div>
                                                        </div>
                                                        <br class="clear" />
                                                    </div>
                                                </div>
                                                <div class="flt-i-c">
                                                    <div class="flt-i-padding">
                                                        <div class="flt-i-price-i">
                                                            <div class="flt-i-price">{{ v.prixVol }} TND</div>
                                                        </div>
                                                        <a href="{{ path('ReserverVol',{'id':v.numticket}) }}" class="cat-list-btn">Réserver</a>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                            <!-- \\ flight-item \\ -->
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <br class="clear" />
                    </div>

                    <div  class="navigation" align="center">
                        {{ knp_pagination_render(vols) }}
                    </div>
                </div>
                <div class="clear"></div>

            </div>
        </div>
    </div>
{% endblock %}
