{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
        <h6 class="autorize-lbl"> Bienvenue! Conecter vous sur votre compte </h6>
        <form action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
            {% endif %}
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Name"/>
            <input type="text" id="password" name="_password" required="required" placeholder="Mot de passe"/><br>
            <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
            Se Souvenir de Moi<br>
            <div class="clear"></div>
            <footer class="autorize-bottom">
                <input type="submit" class="authorize-btn" id="_submit" name="_submit"
                       value="{{ 'security.login.submit'|trans }}"/>
            </footer>
        </form>