{% extends "GoVoyageBundle:Guide:Guide_layout.html.twig" %}

{% block content %}
<div class="main-cont">

    <div class="inner-page">
        <div class="inner-breadcrumbs">
            <div class="content-wrapper">
                <div class="page-title">Mon Compte</div>
                <div class="clear"></div>
            </div>
        </div>

        <div class="content-wrapper">
            <div class="p-item-page">
                <div class="p-item-page-l">
                    <div class="p-item-page-lb">
                        <div class="p-item-padding">
                            <div id="p-item-slider">
                                <div class="p-item-slide"><img alt="" src="{{ asset('img/p-slider-01.jpg') }}" /></div>
                            </div>
                        </div>
                    </div>
                    <br class="clear" />
                </div>
            </div>
            <div class="p-item-page-r">
                <h3>Vos Informations</h3>
                <div class="p-item-details">
                    <div class="p-item-details-i">
                        <div class="p-item-details-il">Username:</div>
                        <div class="p-item-details-ir">{{ g.username }}</div>
                        <div class="clear"></div>
                    </div>
                    <div class="p-item-details-i">
                        <div class="p-item-details-il">Nom:</div>
                        <div class="p-item-details-ir">{{ g.nom }}</div>
                        <div class="clear"></div>
                    </div>
                    <div class="p-item-details-i">
                        <div class="p-item-details-il">Prenom:</div>
                        <div class="p-item-details-ir">{{ g.prenom }}</div>
                        <div class="clear"></div>
                    </div>
                    <div class="p-item-details-i">
                        <div class="p-item-details-il">Email:</div>
                        <div class="p-item-details-ir">{{ g.email }}</div>
                        <div class="clear"></div>
                    </div>
                    <div class="p-item-details-i">
                        <div class="p-item-details-il">CIN:</div>
                        <div class="p-item-details-ir">{{ g.cin }}</div>
                        <div class="clear"></div>
                    </div>
                    <div class="p-item-details-i">
                        <div class="p-item-details-il">Numéro du téléphone:</div>
                        <div class="p-item-details-ir">{{ g.numtel }}</div>
                        <div class="clear"></div>
                    </div>
                    <div class="p-item-details-i">
                        <div class="p-item-details-il">Date de naissance:</div>
                        <div class="p-item-details-ir">{{ g.datenaissence|date('Y-m-d') }}</div>
                        <div class="clear"></div>
                    </div>
                    <div class="p-item-details-i">
                        <div class="p-item-details-il">Adresse:</div>
                        <div class="p-item-details-ir">{{ g.adresse }}</div>
                        <div class="clear"></div>
                    </div>
                    <div class="p-item-details-i">
                        <div class="p-item-details-il">Note:</div>
                        <div class="p-item-details-ir">
                                {% for i in 1..g.note %}
                                    <img alt="" src="{{ asset('img/chk-star-b.png') }}" />
                                {% endfor %}
                            {% if g.note != 5 %}
                            {% for i in g.note..4 %}
                                <img alt="" src="{{ asset('img/chk-star-a.png') }}" />
                            {% endfor %}
                            {% endif %}
                        </div>

                            <div class="clear"></div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}