{% extends "GoVoyageBundle:chambre:layout_template_chambre.html.twig" %}

{% block content %}
    <h1 align="center">modify your room</h1>

    {{ form_start(edit_form) }}

    <table align="center">
        <tr>
            <td class="autorize-lbl">
                <h4> {{ form_label(edit_form.type) }} </h4>
            </td>
            <td>
                <div class="input-a">
                    {{ form_widget(edit_form.type) }}
                </div>

            </td>
        </tr>

        <tr>
            <td class="autorize-lbl">
                <h4>{{ form_label(edit_form.prix) }} </h4>
            </td>

            <td>
                <div class="input-a">
                {{ form_widget(edit_form.prix) }}
                </div>
            </td>
        </tr>



        <tr>
            <td>
                <input type="submit" value="Edit" class="authorize-btn"/>
            </td>



            <td>
            <a href="{{ path('chambre_index') }}" class="srch-btn">Back</a>
            </td>
        </tr>

    </table>





    {{ form_end(edit_form) }}

{% endblock %}
