{% extends "GoVoyageBundle:chambre:layout_template_chambre.html.twig" %}
{% block ahmed %}
    <h1>Chambres list</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Idchambre</th>
                <th>Type</th>
                <th>Prix</th>
                <th>Clientchfk</th>
                <th>Hotelchfk</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chambre in chambres %}
            <tr>
                <td><a href="{{ path('chambre_show', { 'id': chambre.id }) }}">{{ chambre.id }}</a></td>
                <td>{{ chambre.type }}</td>
                <td>{{ chambre.prix }}</td>
                <td>{{ chambre.clientChFk }}</td>
                <td>{{ chambre.hotelChFk }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('chambre_show', { 'id': chambre.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('chambre_edit', { 'id': chambre.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('chambre_new') }}">Create a new chambre</a>
        </li>
    </ul>
{% endblock %}
