{% extends 'GoVoyageBundle:chambre:layout_template_chambre.html.twig' %}

{% block content %}
    <style>
        table {

            width: 60%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }

        th {
            background-color: #c76300;
            color: white;
        }

        c {
            font-size: x-large;
        }

    </style>

    <c class="side-lbl-a"> your room</c>
    <table align="center">
        <tbody>

        <tr>
            <th>Type</th>
            <td>{{ chambre.type }}</td>
        </tr>
        <tr>
            <th>Prix</th>
            <td>{{ chambre.prix }}</td>
        </tr>


        </tbody>
    </table>
    </br></br>
<div align="center">
    <a href="{{ path('chambre_edit', { 'id': chambre.id}) }}" class="srch-btn" type="submit" >Modifier</a>
    <a href="{{ path('chambre_delete', { 'id': chambre.id}) }}" class="srch-btn">Supprimer</a>
    <a href="{{ path('chambre_index') }}" class="srch-btn"> Retour </a>
</div>

{% endblock %}
