<h1 align="center" style="color: #0000a6"> Vos donnees </h1><br><br><br>
<div align="center" style="size: 40px">
    <a style="color: #2e6da4">Username :</a>{{ user.username }}<br><br>
    <a style="color: #2e6da4">Password :</a>{{ user.password }}<br><br>
    <a style="color: #2e6da4">Prenom :</a>{{ user.prenom }}<br><br>
    <a style="color: #2e6da4">Nom :</a>{{ user.nom }}<br><br>
    <a style="color: #2e6da4">Numero de telephone :</a>{{ user.numtel }}<br><br>
    <a style="color: #2e6da4">Date de naissence :</a>{{ user.datenaissence | date("d/m/y") }}<br><br>
    <a style="color: #2e6da4">CIN :</a>{{ user.cin }}<br><br>
    <a style="color: #2e6da4">Adresse :</a>{{ user.adresse }}<br><br>
    <a style="color: #2e6da4">Mail :</a>{{ user.email }}<br><br>
</div>