{% extends 'GoVoyageBundle::layout_template.html.twig' %}

{% block content %}
    <h1>Vos Données </h1>

    <table>
        <tbody>
        <tr>
            <th>Username</th>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Password</th>
            <td>{{ user.password }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ user.nom }}</td>
        </tr>
        <tr>
            <th>Numtel</th>
            <td>{{ user.numtel }}</td>
        </tr>
        <tr>
            <th>Adresse</th>
            <td>{{ user.adresse }}</td>
        </tr>
        <tr>
            <th>Image</th>
            <td>{{ user.image }}</td>
        </tr>
        <tr>
            <th>Prenom</th>
            <td>{{ user.prenom }}</td>
        </tr>
        <tr>
            <th>Cin</th>
            <td>{{ user.cin }}</td>
        </tr>
        <tr>
            <th>Datenaissence</th>
            <td>{% if user.datenaissence %}{{ user.datenaissence|date('Y-m-d') }}{% endif %}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('users_editclient', { 'id': user.id }) }}">Edit</a>
        </li>
    </ul>
{% endblock %}
